@{
    ViewData["Title"] = "Home Page";
}
PublicKey is:
<p id="pubkey">@ViewData["PubKey"].ToString()</p>
<p id="getTest">ApiGet:</p>
<p id="postTest">ApiPost:</p>
<p id="loginTest">ApiLogin:</p>
<p id="apiAuthTestOK">ApiAuthorizeGetOK:</p>
<p id="apiAuthTestFAIL">ApiAuthorizeGetFAIL:</p>

<p id="pageAuthTestOK">PageAuthOK:</p>
<p id="pageAuthTestOK">PageAuthFAIL:</p>
<p id="signalRTest">SignalR:</p>


