<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZHWB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
    asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
    asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ZHWB</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<partial name="_CookieConsentPartial" />-->

    <div class="container body-content">

        @RenderBody()
        
        <footer>
            <p>&copy; 2018 - ZHWB √</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jsencrypt.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/pubkey.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        
        var login={username:"admin",password:"admin"};
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(publickey);
        var test = encrypt.encrypt(JSON.stringify(login).trim());
        console.log(encodeURI(test));
        for(var i=0;i<1;i++)
        {
                $.ajax({ url: 'http://192.168.0.103:5000/api/auth/login',
                            type: 'post',
                            data:{logininfo:encodeURI(test)},
                        }).done(function (data) {
                            //headers:{"Authorization": "Bearer "+data},
                            //URL?access_token=data
                            //var token=encrypt.encrypt(JSON.stringify(data));
                            console.log(data);
        }
        
    </script>
</body>
</html>
